if SHIELD_SPLITISO57_LEFT

config ZMK_KEYBOARD_NAME
    default "Split ISO57"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif



if SHIELD_SPLITISO57_LEFT || SHIELD_SPLITISO57_RIGHT

config ZMK_SPLIT
    default y

endif